.navbar{
    width: 60rem !important;
    background-color: #2d2654 !important;
}
.containsEverything{
        background-color: #fff;
}
body{
    background-color: #eee;
}
.header a{
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: #2d2654;
}
.navbar .collapse .navbar-nav li a {
    color: #bbb;
    margin-left: auto;
}
.navbar .collapse .navbar-nav li a:hover{
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #fff !important;
}
.navbar-toggler{
    background-color: white;
}
.fonts a{
    margin-right: 1rem;
}
.fonts{
    margin-bottom: 2rem;
}
/* This is where the CSS for all the pages end */

.makeInline{
    display: inline;
}
.AbtMe{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}
#picture{
    width: 250px;
    height: 250px;
    margin: 1rem;
}
.carouselHolder{
    max-width: 250px;
    max-height: 250px;
}
.carousel-inner{
    max-width: 250px;
    max-height: 250px;
}
.containsEverything{
    width: 60rem;
}

/* Css for the blog */
.blogPictures{
    height: 300px;
    width: 615px;
}

@media screen and (max-width: 1000px) {
    .containsEverything {
      width: auto;
    }
    .navbar{
        width: auto !important;
        background-color: #2d2654 !important;
    }
    .header a{
        font-size: 2.5em;
        font-weight: bold;
        text-decoration: none;
        color: #2d2654;
    }
    .blogPictures{
        height: 210px;
        width: 390px;
        margin-bottom: 1rem;
    }
  }
  .AbtMe a{
      text-decoration: none;
      color: #212529;
  }