.navbar{
    width: 60rem;
    background-color: #2d2654 !important;
}
.header a{
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: #2d2654;
}
.navbar .collapse .navbar-nav li a {
    color: #bbb;
    margin-left: auto;
}
.navbar .collapse .navbar-nav li a:hover{
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #fff !important;
}
.navbar-toggler{
    background-color: white;
}
/* This is where the CSS for all the pages end */

.container{
    width: 60em;
}
.makeInline{
    display: inline;
}
#AbtMe{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}
#picture{
    width: 170px;
    height: 200px;
}
.containsEverything{
    width: 60rem;
}